.root {
	min-height: 100vh;

	/*
	background-image: linear-gradient(
		to right top,
		#000000,
		#040404,
		#070707,
		#0b0b0b,
		#0e0e0e,
		#151515,
		#1a1a1a,
		#1f1f1f,
		#292929,
		#343434,
		#3f3f3f,
		#4a4a4a
	);

	background-image: linear-gradient(
		to right top,
		#121212,
		#1f1f1f,
		#2d2d2d,
		#3b3b3b,
		#4a4a4a
	);*/

	background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
		repeating-linear-gradient(
			0,
			transparent,
			transparent 2px,
			black 3px,
			black 3px
		),
		url("bg.jpg");
	background-size: cover;
	background-position: center;
}
